@include animation(jumpTheArrow){
  0% {
    top: -10px;
  }
  50% {
    top: 0px;
  }
  100% {
    top: -10px;
  }
}
  
@include animation(walkthecloud) {
  from { @include transform(translateX(-200px)); }
  to { @include transform(translateX(calc(100vw + 200px))); }
}

@include animation(spin) {
  100% { @include transform(rotate(360deg)); } 
}

@include animation(vroomvroom) {
  from { @include transform(translateX(-200px)); }
  to { @include transform(translateX(calc(100vw + 100px))); }
}

@include animation(showAgilityText) {
  0% { opacity: 0; }
  30% { opacity: 1;}
  100% { opacity: 1; }
}

@include animation(showTrophy) {
  0% { @include transform(translateY(100%)); opacity: 1; }
  30% { @include transform(translateY(0));  opacity: 1;}
  100% { @include transform(translateY(0)); opacity: 1; }
}

@include animation(clockMove) {
  0% { @include transform(rotateX(0deg) rotateY(0deg) rotateZ(0deg)); }
  25% { @include transform(translateY(-25px) rotateX(0deg) rotateY(0deg) rotateZ(5deg)); }
  50% { @include transform(rotateX(0deg) rotateY(0deg) rotateZ(0deg)); }
  75% { @include transform(translateY(15px) rotateX(0deg) rotateY(0deg) rotateZ(-5deg)); }
  100% { @include transform(rotateX(0deg) rotateY(0deg) rotateZ(0deg)); }
}

@include animation(clockStuffMove) {
  0% { @include transform(translateY(0px) rotateX(0deg) rotateY(0deg) rotateZ(0deg)); }
  25% { @include transform(translateY(-8px) rotateX(0deg) rotateY(0deg) rotateZ(0deg)); }
  75% { @include transform(translateY(-5px) rotateX(0deg) rotateY(0deg) rotateZ(0deg)); }
  100% { @include transform(translateY(0px) rotateX(0deg) rotateY(0deg) rotateZ(0deg)); }
}

@include animation(showFeedbackLeft) {
  0% { @include transform(translateX(-200px)); opacity: 0; }
  30% { @include transform(translateX(0));  opacity: 1;}
  100% { @include transform(translateX(0)); opacity: 1; }
}

@include animation(showFeedbackRight) {
  0% { @include transform(translateX(200px)); opacity: 0; }
  30% { @include transform(translateX(0));  opacity: 1;}
  100% { @include transform(translateX(0)); opacity: 1; }
}

@include animation(showGraph) {
  from { @include transform(scaleY(0)); transform-origin: bottom; transform-box: fill-box; }
  to { @include transform(scaleY(1)); transform-origin: bottom; transform-box: fill-box; }
}

@include animation(opacity-fast) {  
  0% { opacity: 0; } 
  50% { opacity: 0; }
  55% { opacity: 1; }
  100% { opacity: 1; }
}

@include animation(megaphoneShake) {
  0% { @include transform(rotateZ(0deg)); }
  50% { @include transform(rotateZ(-3deg)); }
  100% { @include transform(rotateZ(0deg)); }
}

@include animation(spinPhone) {
  from { @include transform(rotateZ(0deg)); transform-origin: center center; transform-box: fill-box; }
  to { @include transform(rotateZ(360deg)); transform-origin: center center; transform-box: fill-box; }
}

@include animation(showX) {  
  from { opacity: 0; }
  to { opacity: 1; }
}

@include animation(eatBuilding) {
  0% { @include transform(translateY(0px)); }
  50% { @include transform(translateY(20px)); }
  100% { @include transform(translateY(0px)); }
}

@include animation(holdBuilding) {
  0% { @include transform(translateX(-5px)); }
  50% { @include transform(translateX(0px)); }
  100% { @include transform(translateX(-5px)); }
}

@include animation(walkBuilding) {
  0% { @include transform(translateX(0px)); }
  50% { @include transform(translateX(-7px)); }
  100% { @include transform(translateX(0px)); }
}

@include animation(showBroken) {  
  0% { opacity: 0; }
  20% { opacity: 1; }
  80% { opacity: 1; }
  100% { opacity: 0; }
}

@include animation(fallPaper) {
  0% { @include transform(translateY(-10px)); }
  45% { @include transform(translateY(12px)); }
  100% { @include transform(translateY(12px)); }
}


