$blue-1: #152168;
$blue-2: #4150BB;
$blue-3: #5563B3;
$blue-4: #cdd0ec;

$pink-1: #91233F;
$pink-2: #D52B55;
$pink-3: #D990A2;

$white-1: #fff;
$beige-1: #f9f9f9;

$colors: (blue-1: #152168, blue-2: #4150BB, blue-3: #5563B3, blue-4: #cdd0ec,  
			pink-1: #91233F, pink-2: #D52B55, pink-3: #D990A2,
			white-1: #fff, beige-1: #f9f9f9);