@import url('https://fonts.googleapis.com/css?family=Asap:400,600|Lato:300,400,700');

@import 'colors';
@import 'variables';
@import 'mixins';
@import 'basic';
@import 'headings';
@import 'buttons';
@import 'sections';
@import 'sections/introduction';
@import 'sections/whatisagility';
@import 'sections/benefits';
@import 'sections/medal';
@import 'sections/myths';
@import 'animations';
@import 'illustrations/whatisagility';
@import 'illustrations/benefits';
@import 'illustrations/medal';
@import 'illustrations/myths';
