@charset "UTF-8";
@import url("https://fonts.googleapis.com/css?family=Asap:400,600|Lato:300,400,700");
.blue-1 {
  background-color: #152168; }

.text-blue-1 {
  color: #152168; }

.fill-blue-1 {
  fill: #152168; }

.blue-2 {
  background-color: #4150BB; }

.text-blue-2 {
  color: #4150BB; }

.fill-blue-2 {
  fill: #4150BB; }

.blue-3 {
  background-color: #5563B3; }

.text-blue-3 {
  color: #5563B3; }

.fill-blue-3 {
  fill: #5563B3; }

.blue-4 {
  background-color: #cdd0ec; }

.text-blue-4 {
  color: #cdd0ec; }

.fill-blue-4 {
  fill: #cdd0ec; }

.pink-1 {
  background-color: #91233F; }

.text-pink-1 {
  color: #91233F; }

.fill-pink-1 {
  fill: #91233F; }

.pink-2 {
  background-color: #D52B55; }

.text-pink-2 {
  color: #D52B55; }

.fill-pink-2 {
  fill: #D52B55; }

.pink-3 {
  background-color: #D990A2; }

.text-pink-3 {
  color: #D990A2; }

.fill-pink-3 {
  fill: #D990A2; }

.yellow-1 {
  background-color: #c4915b; }

.text-yellow-1 {
  color: #c4915b; }

.fill-yellow-1 {
  fill: #c4915b; }

.yellow-2 {
  background-color: #e6ad61; }

.text-yellow-2 {
  color: #e6ad61; }

.fill-yellow-2 {
  fill: #e6ad61; }

.yellow-3 {
  background-color: #f4c99b; }

.text-yellow-3 {
  color: #f4c99b; }

.fill-yellow-3 {
  fill: #f4c99b; }

.white-1 {
  background-color: #fff; }

.text-white-1 {
  color: #fff; }

.fill-white-1 {
  fill: #fff; }

.brown-1 {
  background-color: #635242; }

.text-brown-1 {
  color: #635242; }

.fill-brown-1 {
  fill: #635242; }

.beige-1 {
  background-color: #f9f9f9; }

.text-beige-1 {
  color: #f9f9f9; }

.fill-beige-1 {
  fill: #f9f9f9; }

.beige-2 {
  background-color: #ceb699; }

.text-beige-2 {
  color: #ceb699; }

.fill-beige-2 {
  fill: #ceb699; }

body {
  color: #fff;
  font-family: lato;
  font-weight: 300;
  margin: 0;
  padding: 0; }

.hidden {
  display: none; }

.bold {
  font-weight: 400; }

.bold-heading {
  font-weight: 600; }

h1 {
  font-family: 'Asap';
  font-size: 64px;
  font-weight: 400;
  margin: 0 0 8px 0;
  text-align: left; }
  h1 .content__span--colored-blue {
    color: #152168;
    font-size: 48px; }
    @media (max-width: 767px) {
      h1 .content__span--colored-blue {
        display: block;
        font-size: 30px; } }
    @media (max-width: 991px) {
      h1 .content__span--colored-blue {
        font-size: 36px; } }
  @media (max-width: 767px) {
    h1 {
      font-size: 44px; } }
  @media (max-width: 991px) {
    h1 {
      font-size: 54px; } }

h2 {
  font-family: 'Asap';
  font-size: 36px;
  font-weight: 400;
  margin: 0 0 12px 0; }
  @media (max-width: 767px) {
    h2 {
      font-size: 22px; } }

h3 {
  font-size: 26px;
  font-weight: 300;
  margin: 0; }
  @media (max-width: 767px) {
    h3 {
      font-size: 18px; } }

p {
  font-size: 18px;
  margin: 0; }
  @media (max-width: 767px) {
    p {
      font-size: 16px; } }

.content__p--align-justify {
  text-align: justify; }

.section__btn-wrapper {
  cursor: pointer;
  display: flex;
  justify-content: center;
  margin-top: 175px;
  position: relative;
  animation: jumpTheArrow 1.5s infinite linear;
  -webkit-animation: jumpTheArrow 1.5s infinite linear;
  -moz-animation: jumpTheArrow 1.5s infinite linear;
  -ms-animation: jumpTheArrow 1.5s infinite linear;
  -o-animation: jumpTheArrow 1.5s infinite linear; }

.btn-wrapper__arrow {
  background-color: #fff;
  border-radius: 5px;
  height: 35px;
  width: 8px;
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg); }
  .btn-wrapper__arrow:before {
    background-color: #fff;
    border-radius: 5px;
    bottom: -14px;
    content: '';
    height: 35px;
    left: -14px;
    position: absolute;
    width: 8px;
    transform: rotate(-90deg);
    -webkit-transform: rotate(-90deg);
    -moz-transform: rotate(-90deg);
    -ms-transform: rotate(-90deg); }

button {
  border-radius: 5px;
  color: #fff;
  cursor: pointer;
  font-family: lato;
  font-size: 18px;
  padding: 8px 24px; }
  button:focus {
    outline: 0; }
  button:hover {
    transform: scale(1.1);
    -webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
    -ms-transform: scale(1.1); }

section {
  padding: 50px 100px;
  text-align: center; }
  @media (max-width: 767px) {
    section {
      padding: 25px 25px; } }

/* introduction */
.section-introduction {
  background-color: #4150BB;
  padding: 35px 100px; }
  @media (max-width: 767px) {
    .section-introduction {
      padding: 35px 25px; } }

.section__centered-text-group {
  align-items: center;
  display: flex;
  justify-content: center; }

.centered-text-group__content {
  margin-top: 175px;
  width: 35vw; }
  @media (max-width: 767px) {
    .centered-text-group__content {
      margin: 43.75px auto 0 auto;
      width: 80vw; } }
  @media (max-width: 991px) {
    .centered-text-group__content {
      width: 45vw; } }

/* what is agility */
.section-whatisagility__illustration-wrapper {
  margin: 25px 0 25px calc(-1 * 100px);
  width: 100vw; }
  @media (max-width: 767px) {
    .section-whatisagility__illustration-wrapper {
      margin: 25px 0 25px calc(-1 * 25px); } }

.section-whatisagility__circle-wrapper {
  align-items: center;
  display: flex;
  justify-content: center; }
  @media (max-width: 767px) {
    .section-whatisagility__circle-wrapper {
      flex-direction: column; } }

g.cloud1 {
  animation: walkthecloud 131s -120s linear infinite;
  -webkit-animation: walkthecloud 131s -120s linear infinite;
  -moz-animation: walkthecloud 131s -120s linear infinite;
  -ms-animation: walkthecloud 131s -120s linear infinite;
  -o-animation: walkthecloud 131s -120s linear infinite; }

g.cloud2 {
  animation: walkthecloud 158s -56s linear infinite;
  -webkit-animation: walkthecloud 158s -56s linear infinite;
  -moz-animation: walkthecloud 158s -56s linear infinite;
  -ms-animation: walkthecloud 158s -56s linear infinite;
  -o-animation: walkthecloud 158s -56s linear infinite; }

g.cloud3 {
  animation: walkthecloud 124s -42s linear infinite;
  -webkit-animation: walkthecloud 124s -42s linear infinite;
  -moz-animation: walkthecloud 124s -42s linear infinite;
  -ms-animation: walkthecloud 124s -42s linear infinite;
  -o-animation: walkthecloud 124s -42s linear infinite; }

g.cloud4 {
  animation: walkthecloud 200s -211s linear infinite;
  -webkit-animation: walkthecloud 200s -211s linear infinite;
  -moz-animation: walkthecloud 200s -211s linear infinite;
  -ms-animation: walkthecloud 200s -211s linear infinite;
  -o-animation: walkthecloud 200s -211s linear infinite; }

g.cloud5 {
  animation: walkthecloud 167s -212s linear infinite;
  -webkit-animation: walkthecloud 167s -212s linear infinite;
  -moz-animation: walkthecloud 167s -212s linear infinite;
  -ms-animation: walkthecloud 167s -212s linear infinite;
  -o-animation: walkthecloud 167s -212s linear infinite; }

g.cloud6 {
  animation: walkthecloud 179s -166s linear infinite;
  -webkit-animation: walkthecloud 179s -166s linear infinite;
  -moz-animation: walkthecloud 179s -166s linear infinite;
  -ms-animation: walkthecloud 179s -166s linear infinite;
  -o-animation: walkthecloud 179s -166s linear infinite; }

g.cloud7 {
  animation: walkthecloud 185s -72s linear infinite;
  -webkit-animation: walkthecloud 185s -72s linear infinite;
  -moz-animation: walkthecloud 185s -72s linear infinite;
  -ms-animation: walkthecloud 185s -72s linear infinite;
  -o-animation: walkthecloud 185s -72s linear infinite; }

g.cloud8 {
  animation: walkthecloud 189s -38s linear infinite;
  -webkit-animation: walkthecloud 189s -38s linear infinite;
  -moz-animation: walkthecloud 189s -38s linear infinite;
  -ms-animation: walkthecloud 189s -38s linear infinite;
  -o-animation: walkthecloud 189s -38s linear infinite; }

g.cloud9 {
  animation: walkthecloud 164s -71s linear infinite;
  -webkit-animation: walkthecloud 164s -71s linear infinite;
  -moz-animation: walkthecloud 164s -71s linear infinite;
  -ms-animation: walkthecloud 164s -71s linear infinite;
  -o-animation: walkthecloud 164s -71s linear infinite; }

g.cloud10 {
  animation: walkthecloud 177s -54s linear infinite;
  -webkit-animation: walkthecloud 177s -54s linear infinite;
  -moz-animation: walkthecloud 177s -54s linear infinite;
  -ms-animation: walkthecloud 177s -54s linear infinite;
  -o-animation: walkthecloud 177s -54s linear infinite; }

.svg__bus {
  animation: vroomvroom 15s linear infinite;
  -webkit-animation: vroomvroom 15s linear infinite;
  -moz-animation: vroomvroom 15s linear infinite;
  -ms-animation: vroomvroom 15s linear infinite;
  -o-animation: vroomvroom 15s linear infinite; }
  .svg__bus.wheels {
    animation: spin 0.4s linear infinite;
    -webkit-animation: spin 0.4s linear infinite;
    -moz-animation: spin 0.4s linear infinite;
    -ms-animation: spin 0.4s linear infinite;
    -o-animation: spin 0.4s linear infinite; }

.circle-wrapper__circle {
  align-items: center;
  background-color: #152168;
  border-radius: 100%;
  display: flex;
  flex-grow: 0;
  flex-shrink: 0;
  flex-basis: 150px;
  height: 150px;
  justify-content: center;
  margin-left: 5vw;
  margin-right: 5vw; }
  @media (max-width: 767px) {
    .circle-wrapper__circle {
      margin: 10px 0;
      width: 150px; } }

.circle__p {
  padding: 15px; }

/* benefits */
.section-benefits__illustration-wrapper {
  margin-left: calc(-1 * 100px);
  width: 100vw; }
  @media (max-width: 767px) {
    .section-benefits__illustration-wrapper {
      margin-left: calc(-1 * 25px); } }

.section-benefits__trophy-wrapper {
  border-top: 2px dashed #f9f9f9;
  display: flex;
  margin-top: 40px;
  padding: 50px 100px 0 100px; }
  @media (max-width: 767px) {
    .section-benefits__trophy-wrapper {
      padding: 25px 0 0 0; } }
  @media (max-width: 991px) {
    .section-benefits__trophy-wrapper {
      padding: 50px 0 0 0; } }

.trophy-wrapper__img-wrapper {
  max-width: 300px;
  width: 75%; }
  .trophy-wrapper__img-wrapper svg {
    border-radius: 100%;
    overflow-y: hidden; }
  @media (max-width: 767px) {
    .trophy-wrapper__img-wrapper {
      max-width: 400px; } }

.trophy-wrapper__text-wrapper {
  align-self: center;
  padding: 0 50px;
  text-align: left; }
  @media (max-width: 767px) {
    .trophy-wrapper__text-wrapper {
      padding: 0 25px; } }

/* medal */
.section-medal__slider {
  margin: 40px 0;
  position: relative; }
  @media (max-width: 767px) {
    .section-medal__slider {
      margin: 25px 0; } }

.slider__svg {
  background-color: #f9f9f9;
  display: block;
  height: 100%;
  width: 100%; }
  .slider__svg svg {
    width: 100%; }

.section-medal__slider .resize {
  height: 100%;
  left: 0;
  overflow: hidden;
  position: absolute;
  top: 0;
  width: 50%; }

.handle {
  background: #91233F;
  border-radius: 5px;
  bottom: 0;
  cursor: ew-resize;
  left: 50%;
  position: absolute;
  top: 0;
  width: 5px; }

.handle:after {
  background: #91233F;
  border-radius: 5px;
  content: '◂▸';
  color: #f9f9f9;
  font-size: 36px;
  height: 30px;
  line-height: 24px;
  margin: 0 -18px;
  position: absolute;
  text-align: center;
  top: 50%;
  transition: all 0.3s ease;
  width: 40px; }

/* myths */
.myth-wrapper__myth-item {
  align-items: center;
  display: flex;
  margin: 25px 0; }
  @media (max-width: 767px) {
    .myth-wrapper__myth-item {
      border-bottom: 2px dashed #fff;
      flex-direction: column;
      padding-bottom: 25px; }
      .myth-wrapper__myth-item:last-child {
        border: 0; } }
  @media (max-width: 767px) {
    .myth-wrapper__myth-item.myth-item__state--opposite-side {
      flex-direction: column-reverse; } }

.myth-item__illustration-wrapper {
  width: 50%; }
  @media (max-width: 767px) {
    .myth-item__illustration-wrapper {
      width: 100%; } }

.myth-item__text-wrapper {
  align-self: center;
  padding: 0 50px;
  width: 50%; }
  .myth-item__text-wrapper.left-align {
    text-align: left; }
    @media (max-width: 767px) {
      .myth-item__text-wrapper.left-align {
        text-align: justify; } }
  .myth-item__text-wrapper.right-align {
    text-align: right; }
    @media (max-width: 767px) {
      .myth-item__text-wrapper.right-align {
        text-align: justify; } }
  @media (max-width: 767px) {
    .myth-item__text-wrapper {
      width: 90%; } }

@keyframes jumpTheArrow {
  0% {
    top: -10px; }
  50% {
    top: 0px; }
  100% {
    top: -10px; } }
@-webkit-keyframes jumpTheArrow {
  0% {
    top: -10px; }
  50% {
    top: 0px; }
  100% {
    top: -10px; } }
@-moz-keyframes jumpTheArrow {
  0% {
    top: -10px; }
  50% {
    top: 0px; }
  100% {
    top: -10px; } }
@-ms-keyframes jumpTheArrow {
  0% {
    top: -10px; }
  50% {
    top: 0px; }
  100% {
    top: -10px; } }
@keyframes walkthecloud {
  from {
    transform: translateX(-200px);
    -webkit-transform: translateX(-200px);
    -moz-transform: translateX(-200px);
    -ms-transform: translateX(-200px); }
  to {
    transform: translateX(calc(100vw + 200px));
    -webkit-transform: translateX(calc(100vw + 200px));
    -moz-transform: translateX(calc(100vw + 200px));
    -ms-transform: translateX(calc(100vw + 200px)); } }
@-webkit-keyframes walkthecloud {
  from {
    transform: translateX(-200px);
    -webkit-transform: translateX(-200px);
    -moz-transform: translateX(-200px);
    -ms-transform: translateX(-200px); }
  to {
    transform: translateX(calc(100vw + 200px));
    -webkit-transform: translateX(calc(100vw + 200px));
    -moz-transform: translateX(calc(100vw + 200px));
    -ms-transform: translateX(calc(100vw + 200px)); } }
@-moz-keyframes walkthecloud {
  from {
    transform: translateX(-200px);
    -webkit-transform: translateX(-200px);
    -moz-transform: translateX(-200px);
    -ms-transform: translateX(-200px); }
  to {
    transform: translateX(calc(100vw + 200px));
    -webkit-transform: translateX(calc(100vw + 200px));
    -moz-transform: translateX(calc(100vw + 200px));
    -ms-transform: translateX(calc(100vw + 200px)); } }
@-ms-keyframes walkthecloud {
  from {
    transform: translateX(-200px);
    -webkit-transform: translateX(-200px);
    -moz-transform: translateX(-200px);
    -ms-transform: translateX(-200px); }
  to {
    transform: translateX(calc(100vw + 200px));
    -webkit-transform: translateX(calc(100vw + 200px));
    -moz-transform: translateX(calc(100vw + 200px));
    -ms-transform: translateX(calc(100vw + 200px)); } }
@keyframes spin {
  100% {
    transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg); } }
@-webkit-keyframes spin {
  100% {
    transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg); } }
@-moz-keyframes spin {
  100% {
    transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg); } }
@-ms-keyframes spin {
  100% {
    transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg); } }
@keyframes vroomvroom {
  from {
    transform: translateX(-200px);
    -webkit-transform: translateX(-200px);
    -moz-transform: translateX(-200px);
    -ms-transform: translateX(-200px); }
  to {
    transform: translateX(calc(100vw + 100px));
    -webkit-transform: translateX(calc(100vw + 100px));
    -moz-transform: translateX(calc(100vw + 100px));
    -ms-transform: translateX(calc(100vw + 100px)); } }
@-webkit-keyframes vroomvroom {
  from {
    transform: translateX(-200px);
    -webkit-transform: translateX(-200px);
    -moz-transform: translateX(-200px);
    -ms-transform: translateX(-200px); }
  to {
    transform: translateX(calc(100vw + 100px));
    -webkit-transform: translateX(calc(100vw + 100px));
    -moz-transform: translateX(calc(100vw + 100px));
    -ms-transform: translateX(calc(100vw + 100px)); } }
@-moz-keyframes vroomvroom {
  from {
    transform: translateX(-200px);
    -webkit-transform: translateX(-200px);
    -moz-transform: translateX(-200px);
    -ms-transform: translateX(-200px); }
  to {
    transform: translateX(calc(100vw + 100px));
    -webkit-transform: translateX(calc(100vw + 100px));
    -moz-transform: translateX(calc(100vw + 100px));
    -ms-transform: translateX(calc(100vw + 100px)); } }
@-ms-keyframes vroomvroom {
  from {
    transform: translateX(-200px);
    -webkit-transform: translateX(-200px);
    -moz-transform: translateX(-200px);
    -ms-transform: translateX(-200px); }
  to {
    transform: translateX(calc(100vw + 100px));
    -webkit-transform: translateX(calc(100vw + 100px));
    -moz-transform: translateX(calc(100vw + 100px));
    -ms-transform: translateX(calc(100vw + 100px)); } }
@keyframes showAgilityText {
  0% {
    opacity: 0; }
  30% {
    opacity: 1; }
  100% {
    opacity: 1; } }
@-webkit-keyframes showAgilityText {
  0% {
    opacity: 0; }
  30% {
    opacity: 1; }
  100% {
    opacity: 1; } }
@-moz-keyframes showAgilityText {
  0% {
    opacity: 0; }
  30% {
    opacity: 1; }
  100% {
    opacity: 1; } }
@-ms-keyframes showAgilityText {
  0% {
    opacity: 0; }
  30% {
    opacity: 1; }
  100% {
    opacity: 1; } }
@keyframes showTrophy {
  0% {
    transform: translateY(100%);
    -webkit-transform: translateY(100%);
    -moz-transform: translateY(100%);
    -ms-transform: translateY(100%);
    opacity: 1; }
  30% {
    transform: translateY(0);
    -webkit-transform: translateY(0);
    -moz-transform: translateY(0);
    -ms-transform: translateY(0);
    opacity: 1; }
  100% {
    transform: translateY(0);
    -webkit-transform: translateY(0);
    -moz-transform: translateY(0);
    -ms-transform: translateY(0);
    opacity: 1; } }
@-webkit-keyframes showTrophy {
  0% {
    transform: translateY(100%);
    -webkit-transform: translateY(100%);
    -moz-transform: translateY(100%);
    -ms-transform: translateY(100%);
    opacity: 1; }
  30% {
    transform: translateY(0);
    -webkit-transform: translateY(0);
    -moz-transform: translateY(0);
    -ms-transform: translateY(0);
    opacity: 1; }
  100% {
    transform: translateY(0);
    -webkit-transform: translateY(0);
    -moz-transform: translateY(0);
    -ms-transform: translateY(0);
    opacity: 1; } }
@-moz-keyframes showTrophy {
  0% {
    transform: translateY(100%);
    -webkit-transform: translateY(100%);
    -moz-transform: translateY(100%);
    -ms-transform: translateY(100%);
    opacity: 1; }
  30% {
    transform: translateY(0);
    -webkit-transform: translateY(0);
    -moz-transform: translateY(0);
    -ms-transform: translateY(0);
    opacity: 1; }
  100% {
    transform: translateY(0);
    -webkit-transform: translateY(0);
    -moz-transform: translateY(0);
    -ms-transform: translateY(0);
    opacity: 1; } }
@-ms-keyframes showTrophy {
  0% {
    transform: translateY(100%);
    -webkit-transform: translateY(100%);
    -moz-transform: translateY(100%);
    -ms-transform: translateY(100%);
    opacity: 1; }
  30% {
    transform: translateY(0);
    -webkit-transform: translateY(0);
    -moz-transform: translateY(0);
    -ms-transform: translateY(0);
    opacity: 1; }
  100% {
    transform: translateY(0);
    -webkit-transform: translateY(0);
    -moz-transform: translateY(0);
    -ms-transform: translateY(0);
    opacity: 1; } }
@keyframes clockMove {
  0% {
    transform: rotateX(0deg) rotateY(0deg) rotateZ(0deg);
    -webkit-transform: rotateX(0deg) rotateY(0deg) rotateZ(0deg);
    -moz-transform: rotateX(0deg) rotateY(0deg) rotateZ(0deg);
    -ms-transform: rotateX(0deg) rotateY(0deg) rotateZ(0deg); }
  25% {
    transform: translateY(-25px) rotateX(0deg) rotateY(0deg) rotateZ(5deg);
    -webkit-transform: translateY(-25px) rotateX(0deg) rotateY(0deg) rotateZ(5deg);
    -moz-transform: translateY(-25px) rotateX(0deg) rotateY(0deg) rotateZ(5deg);
    -ms-transform: translateY(-25px) rotateX(0deg) rotateY(0deg) rotateZ(5deg); }
  50% {
    transform: rotateX(0deg) rotateY(0deg) rotateZ(0deg);
    -webkit-transform: rotateX(0deg) rotateY(0deg) rotateZ(0deg);
    -moz-transform: rotateX(0deg) rotateY(0deg) rotateZ(0deg);
    -ms-transform: rotateX(0deg) rotateY(0deg) rotateZ(0deg); }
  75% {
    transform: translateY(15px) rotateX(0deg) rotateY(0deg) rotateZ(-5deg);
    -webkit-transform: translateY(15px) rotateX(0deg) rotateY(0deg) rotateZ(-5deg);
    -moz-transform: translateY(15px) rotateX(0deg) rotateY(0deg) rotateZ(-5deg);
    -ms-transform: translateY(15px) rotateX(0deg) rotateY(0deg) rotateZ(-5deg); }
  100% {
    transform: rotateX(0deg) rotateY(0deg) rotateZ(0deg);
    -webkit-transform: rotateX(0deg) rotateY(0deg) rotateZ(0deg);
    -moz-transform: rotateX(0deg) rotateY(0deg) rotateZ(0deg);
    -ms-transform: rotateX(0deg) rotateY(0deg) rotateZ(0deg); } }
@-webkit-keyframes clockMove {
  0% {
    transform: rotateX(0deg) rotateY(0deg) rotateZ(0deg);
    -webkit-transform: rotateX(0deg) rotateY(0deg) rotateZ(0deg);
    -moz-transform: rotateX(0deg) rotateY(0deg) rotateZ(0deg);
    -ms-transform: rotateX(0deg) rotateY(0deg) rotateZ(0deg); }
  25% {
    transform: translateY(-25px) rotateX(0deg) rotateY(0deg) rotateZ(5deg);
    -webkit-transform: translateY(-25px) rotateX(0deg) rotateY(0deg) rotateZ(5deg);
    -moz-transform: translateY(-25px) rotateX(0deg) rotateY(0deg) rotateZ(5deg);
    -ms-transform: translateY(-25px) rotateX(0deg) rotateY(0deg) rotateZ(5deg); }
  50% {
    transform: rotateX(0deg) rotateY(0deg) rotateZ(0deg);
    -webkit-transform: rotateX(0deg) rotateY(0deg) rotateZ(0deg);
    -moz-transform: rotateX(0deg) rotateY(0deg) rotateZ(0deg);
    -ms-transform: rotateX(0deg) rotateY(0deg) rotateZ(0deg); }
  75% {
    transform: translateY(15px) rotateX(0deg) rotateY(0deg) rotateZ(-5deg);
    -webkit-transform: translateY(15px) rotateX(0deg) rotateY(0deg) rotateZ(-5deg);
    -moz-transform: translateY(15px) rotateX(0deg) rotateY(0deg) rotateZ(-5deg);
    -ms-transform: translateY(15px) rotateX(0deg) rotateY(0deg) rotateZ(-5deg); }
  100% {
    transform: rotateX(0deg) rotateY(0deg) rotateZ(0deg);
    -webkit-transform: rotateX(0deg) rotateY(0deg) rotateZ(0deg);
    -moz-transform: rotateX(0deg) rotateY(0deg) rotateZ(0deg);
    -ms-transform: rotateX(0deg) rotateY(0deg) rotateZ(0deg); } }
@-moz-keyframes clockMove {
  0% {
    transform: rotateX(0deg) rotateY(0deg) rotateZ(0deg);
    -webkit-transform: rotateX(0deg) rotateY(0deg) rotateZ(0deg);
    -moz-transform: rotateX(0deg) rotateY(0deg) rotateZ(0deg);
    -ms-transform: rotateX(0deg) rotateY(0deg) rotateZ(0deg); }
  25% {
    transform: translateY(-25px) rotateX(0deg) rotateY(0deg) rotateZ(5deg);
    -webkit-transform: translateY(-25px) rotateX(0deg) rotateY(0deg) rotateZ(5deg);
    -moz-transform: translateY(-25px) rotateX(0deg) rotateY(0deg) rotateZ(5deg);
    -ms-transform: translateY(-25px) rotateX(0deg) rotateY(0deg) rotateZ(5deg); }
  50% {
    transform: rotateX(0deg) rotateY(0deg) rotateZ(0deg);
    -webkit-transform: rotateX(0deg) rotateY(0deg) rotateZ(0deg);
    -moz-transform: rotateX(0deg) rotateY(0deg) rotateZ(0deg);
    -ms-transform: rotateX(0deg) rotateY(0deg) rotateZ(0deg); }
  75% {
    transform: translateY(15px) rotateX(0deg) rotateY(0deg) rotateZ(-5deg);
    -webkit-transform: translateY(15px) rotateX(0deg) rotateY(0deg) rotateZ(-5deg);
    -moz-transform: translateY(15px) rotateX(0deg) rotateY(0deg) rotateZ(-5deg);
    -ms-transform: translateY(15px) rotateX(0deg) rotateY(0deg) rotateZ(-5deg); }
  100% {
    transform: rotateX(0deg) rotateY(0deg) rotateZ(0deg);
    -webkit-transform: rotateX(0deg) rotateY(0deg) rotateZ(0deg);
    -moz-transform: rotateX(0deg) rotateY(0deg) rotateZ(0deg);
    -ms-transform: rotateX(0deg) rotateY(0deg) rotateZ(0deg); } }
@-ms-keyframes clockMove {
  0% {
    transform: rotateX(0deg) rotateY(0deg) rotateZ(0deg);
    -webkit-transform: rotateX(0deg) rotateY(0deg) rotateZ(0deg);
    -moz-transform: rotateX(0deg) rotateY(0deg) rotateZ(0deg);
    -ms-transform: rotateX(0deg) rotateY(0deg) rotateZ(0deg); }
  25% {
    transform: translateY(-25px) rotateX(0deg) rotateY(0deg) rotateZ(5deg);
    -webkit-transform: translateY(-25px) rotateX(0deg) rotateY(0deg) rotateZ(5deg);
    -moz-transform: translateY(-25px) rotateX(0deg) rotateY(0deg) rotateZ(5deg);
    -ms-transform: translateY(-25px) rotateX(0deg) rotateY(0deg) rotateZ(5deg); }
  50% {
    transform: rotateX(0deg) rotateY(0deg) rotateZ(0deg);
    -webkit-transform: rotateX(0deg) rotateY(0deg) rotateZ(0deg);
    -moz-transform: rotateX(0deg) rotateY(0deg) rotateZ(0deg);
    -ms-transform: rotateX(0deg) rotateY(0deg) rotateZ(0deg); }
  75% {
    transform: translateY(15px) rotateX(0deg) rotateY(0deg) rotateZ(-5deg);
    -webkit-transform: translateY(15px) rotateX(0deg) rotateY(0deg) rotateZ(-5deg);
    -moz-transform: translateY(15px) rotateX(0deg) rotateY(0deg) rotateZ(-5deg);
    -ms-transform: translateY(15px) rotateX(0deg) rotateY(0deg) rotateZ(-5deg); }
  100% {
    transform: rotateX(0deg) rotateY(0deg) rotateZ(0deg);
    -webkit-transform: rotateX(0deg) rotateY(0deg) rotateZ(0deg);
    -moz-transform: rotateX(0deg) rotateY(0deg) rotateZ(0deg);
    -ms-transform: rotateX(0deg) rotateY(0deg) rotateZ(0deg); } }
@keyframes clockStuffMove {
  0% {
    transform: translateY(0px) rotateX(0deg) rotateY(0deg) rotateZ(0deg);
    -webkit-transform: translateY(0px) rotateX(0deg) rotateY(0deg) rotateZ(0deg);
    -moz-transform: translateY(0px) rotateX(0deg) rotateY(0deg) rotateZ(0deg);
    -ms-transform: translateY(0px) rotateX(0deg) rotateY(0deg) rotateZ(0deg); }
  25% {
    transform: translateY(-8px) rotateX(0deg) rotateY(0deg) rotateZ(0deg);
    -webkit-transform: translateY(-8px) rotateX(0deg) rotateY(0deg) rotateZ(0deg);
    -moz-transform: translateY(-8px) rotateX(0deg) rotateY(0deg) rotateZ(0deg);
    -ms-transform: translateY(-8px) rotateX(0deg) rotateY(0deg) rotateZ(0deg); }
  75% {
    transform: translateY(-5px) rotateX(0deg) rotateY(0deg) rotateZ(0deg);
    -webkit-transform: translateY(-5px) rotateX(0deg) rotateY(0deg) rotateZ(0deg);
    -moz-transform: translateY(-5px) rotateX(0deg) rotateY(0deg) rotateZ(0deg);
    -ms-transform: translateY(-5px) rotateX(0deg) rotateY(0deg) rotateZ(0deg); }
  100% {
    transform: translateY(0px) rotateX(0deg) rotateY(0deg) rotateZ(0deg);
    -webkit-transform: translateY(0px) rotateX(0deg) rotateY(0deg) rotateZ(0deg);
    -moz-transform: translateY(0px) rotateX(0deg) rotateY(0deg) rotateZ(0deg);
    -ms-transform: translateY(0px) rotateX(0deg) rotateY(0deg) rotateZ(0deg); } }
@-webkit-keyframes clockStuffMove {
  0% {
    transform: translateY(0px) rotateX(0deg) rotateY(0deg) rotateZ(0deg);
    -webkit-transform: translateY(0px) rotateX(0deg) rotateY(0deg) rotateZ(0deg);
    -moz-transform: translateY(0px) rotateX(0deg) rotateY(0deg) rotateZ(0deg);
    -ms-transform: translateY(0px) rotateX(0deg) rotateY(0deg) rotateZ(0deg); }
  25% {
    transform: translateY(-8px) rotateX(0deg) rotateY(0deg) rotateZ(0deg);
    -webkit-transform: translateY(-8px) rotateX(0deg) rotateY(0deg) rotateZ(0deg);
    -moz-transform: translateY(-8px) rotateX(0deg) rotateY(0deg) rotateZ(0deg);
    -ms-transform: translateY(-8px) rotateX(0deg) rotateY(0deg) rotateZ(0deg); }
  75% {
    transform: translateY(-5px) rotateX(0deg) rotateY(0deg) rotateZ(0deg);
    -webkit-transform: translateY(-5px) rotateX(0deg) rotateY(0deg) rotateZ(0deg);
    -moz-transform: translateY(-5px) rotateX(0deg) rotateY(0deg) rotateZ(0deg);
    -ms-transform: translateY(-5px) rotateX(0deg) rotateY(0deg) rotateZ(0deg); }
  100% {
    transform: translateY(0px) rotateX(0deg) rotateY(0deg) rotateZ(0deg);
    -webkit-transform: translateY(0px) rotateX(0deg) rotateY(0deg) rotateZ(0deg);
    -moz-transform: translateY(0px) rotateX(0deg) rotateY(0deg) rotateZ(0deg);
    -ms-transform: translateY(0px) rotateX(0deg) rotateY(0deg) rotateZ(0deg); } }
@-moz-keyframes clockStuffMove {
  0% {
    transform: translateY(0px) rotateX(0deg) rotateY(0deg) rotateZ(0deg);
    -webkit-transform: translateY(0px) rotateX(0deg) rotateY(0deg) rotateZ(0deg);
    -moz-transform: translateY(0px) rotateX(0deg) rotateY(0deg) rotateZ(0deg);
    -ms-transform: translateY(0px) rotateX(0deg) rotateY(0deg) rotateZ(0deg); }
  25% {
    transform: translateY(-8px) rotateX(0deg) rotateY(0deg) rotateZ(0deg);
    -webkit-transform: translateY(-8px) rotateX(0deg) rotateY(0deg) rotateZ(0deg);
    -moz-transform: translateY(-8px) rotateX(0deg) rotateY(0deg) rotateZ(0deg);
    -ms-transform: translateY(-8px) rotateX(0deg) rotateY(0deg) rotateZ(0deg); }
  75% {
    transform: translateY(-5px) rotateX(0deg) rotateY(0deg) rotateZ(0deg);
    -webkit-transform: translateY(-5px) rotateX(0deg) rotateY(0deg) rotateZ(0deg);
    -moz-transform: translateY(-5px) rotateX(0deg) rotateY(0deg) rotateZ(0deg);
    -ms-transform: translateY(-5px) rotateX(0deg) rotateY(0deg) rotateZ(0deg); }
  100% {
    transform: translateY(0px) rotateX(0deg) rotateY(0deg) rotateZ(0deg);
    -webkit-transform: translateY(0px) rotateX(0deg) rotateY(0deg) rotateZ(0deg);
    -moz-transform: translateY(0px) rotateX(0deg) rotateY(0deg) rotateZ(0deg);
    -ms-transform: translateY(0px) rotateX(0deg) rotateY(0deg) rotateZ(0deg); } }
@-ms-keyframes clockStuffMove {
  0% {
    transform: translateY(0px) rotateX(0deg) rotateY(0deg) rotateZ(0deg);
    -webkit-transform: translateY(0px) rotateX(0deg) rotateY(0deg) rotateZ(0deg);
    -moz-transform: translateY(0px) rotateX(0deg) rotateY(0deg) rotateZ(0deg);
    -ms-transform: translateY(0px) rotateX(0deg) rotateY(0deg) rotateZ(0deg); }
  25% {
    transform: translateY(-8px) rotateX(0deg) rotateY(0deg) rotateZ(0deg);
    -webkit-transform: translateY(-8px) rotateX(0deg) rotateY(0deg) rotateZ(0deg);
    -moz-transform: translateY(-8px) rotateX(0deg) rotateY(0deg) rotateZ(0deg);
    -ms-transform: translateY(-8px) rotateX(0deg) rotateY(0deg) rotateZ(0deg); }
  75% {
    transform: translateY(-5px) rotateX(0deg) rotateY(0deg) rotateZ(0deg);
    -webkit-transform: translateY(-5px) rotateX(0deg) rotateY(0deg) rotateZ(0deg);
    -moz-transform: translateY(-5px) rotateX(0deg) rotateY(0deg) rotateZ(0deg);
    -ms-transform: translateY(-5px) rotateX(0deg) rotateY(0deg) rotateZ(0deg); }
  100% {
    transform: translateY(0px) rotateX(0deg) rotateY(0deg) rotateZ(0deg);
    -webkit-transform: translateY(0px) rotateX(0deg) rotateY(0deg) rotateZ(0deg);
    -moz-transform: translateY(0px) rotateX(0deg) rotateY(0deg) rotateZ(0deg);
    -ms-transform: translateY(0px) rotateX(0deg) rotateY(0deg) rotateZ(0deg); } }
@keyframes showFeedbackLeft {
  0% {
    transform: translateX(-200px);
    -webkit-transform: translateX(-200px);
    -moz-transform: translateX(-200px);
    -ms-transform: translateX(-200px);
    opacity: 0; }
  30% {
    transform: translateX(0);
    -webkit-transform: translateX(0);
    -moz-transform: translateX(0);
    -ms-transform: translateX(0);
    opacity: 1; }
  100% {
    transform: translateX(0);
    -webkit-transform: translateX(0);
    -moz-transform: translateX(0);
    -ms-transform: translateX(0);
    opacity: 1; } }
@-webkit-keyframes showFeedbackLeft {
  0% {
    transform: translateX(-200px);
    -webkit-transform: translateX(-200px);
    -moz-transform: translateX(-200px);
    -ms-transform: translateX(-200px);
    opacity: 0; }
  30% {
    transform: translateX(0);
    -webkit-transform: translateX(0);
    -moz-transform: translateX(0);
    -ms-transform: translateX(0);
    opacity: 1; }
  100% {
    transform: translateX(0);
    -webkit-transform: translateX(0);
    -moz-transform: translateX(0);
    -ms-transform: translateX(0);
    opacity: 1; } }
@-moz-keyframes showFeedbackLeft {
  0% {
    transform: translateX(-200px);
    -webkit-transform: translateX(-200px);
    -moz-transform: translateX(-200px);
    -ms-transform: translateX(-200px);
    opacity: 0; }
  30% {
    transform: translateX(0);
    -webkit-transform: translateX(0);
    -moz-transform: translateX(0);
    -ms-transform: translateX(0);
    opacity: 1; }
  100% {
    transform: translateX(0);
    -webkit-transform: translateX(0);
    -moz-transform: translateX(0);
    -ms-transform: translateX(0);
    opacity: 1; } }
@-ms-keyframes showFeedbackLeft {
  0% {
    transform: translateX(-200px);
    -webkit-transform: translateX(-200px);
    -moz-transform: translateX(-200px);
    -ms-transform: translateX(-200px);
    opacity: 0; }
  30% {
    transform: translateX(0);
    -webkit-transform: translateX(0);
    -moz-transform: translateX(0);
    -ms-transform: translateX(0);
    opacity: 1; }
  100% {
    transform: translateX(0);
    -webkit-transform: translateX(0);
    -moz-transform: translateX(0);
    -ms-transform: translateX(0);
    opacity: 1; } }
@keyframes showFeedbackRight {
  0% {
    transform: translateX(200px);
    -webkit-transform: translateX(200px);
    -moz-transform: translateX(200px);
    -ms-transform: translateX(200px);
    opacity: 0; }
  30% {
    transform: translateX(0);
    -webkit-transform: translateX(0);
    -moz-transform: translateX(0);
    -ms-transform: translateX(0);
    opacity: 1; }
  100% {
    transform: translateX(0);
    -webkit-transform: translateX(0);
    -moz-transform: translateX(0);
    -ms-transform: translateX(0);
    opacity: 1; } }
@-webkit-keyframes showFeedbackRight {
  0% {
    transform: translateX(200px);
    -webkit-transform: translateX(200px);
    -moz-transform: translateX(200px);
    -ms-transform: translateX(200px);
    opacity: 0; }
  30% {
    transform: translateX(0);
    -webkit-transform: translateX(0);
    -moz-transform: translateX(0);
    -ms-transform: translateX(0);
    opacity: 1; }
  100% {
    transform: translateX(0);
    -webkit-transform: translateX(0);
    -moz-transform: translateX(0);
    -ms-transform: translateX(0);
    opacity: 1; } }
@-moz-keyframes showFeedbackRight {
  0% {
    transform: translateX(200px);
    -webkit-transform: translateX(200px);
    -moz-transform: translateX(200px);
    -ms-transform: translateX(200px);
    opacity: 0; }
  30% {
    transform: translateX(0);
    -webkit-transform: translateX(0);
    -moz-transform: translateX(0);
    -ms-transform: translateX(0);
    opacity: 1; }
  100% {
    transform: translateX(0);
    -webkit-transform: translateX(0);
    -moz-transform: translateX(0);
    -ms-transform: translateX(0);
    opacity: 1; } }
@-ms-keyframes showFeedbackRight {
  0% {
    transform: translateX(200px);
    -webkit-transform: translateX(200px);
    -moz-transform: translateX(200px);
    -ms-transform: translateX(200px);
    opacity: 0; }
  30% {
    transform: translateX(0);
    -webkit-transform: translateX(0);
    -moz-transform: translateX(0);
    -ms-transform: translateX(0);
    opacity: 1; }
  100% {
    transform: translateX(0);
    -webkit-transform: translateX(0);
    -moz-transform: translateX(0);
    -ms-transform: translateX(0);
    opacity: 1; } }
@keyframes showGraph {
  from {
    transform: scaleY(0);
    -webkit-transform: scaleY(0);
    -moz-transform: scaleY(0);
    -ms-transform: scaleY(0);
    transform-origin: bottom;
    transform-box: fill-box; }
  to {
    transform: scaleY(1);
    -webkit-transform: scaleY(1);
    -moz-transform: scaleY(1);
    -ms-transform: scaleY(1);
    transform-origin: bottom;
    transform-box: fill-box; } }
@-webkit-keyframes showGraph {
  from {
    transform: scaleY(0);
    -webkit-transform: scaleY(0);
    -moz-transform: scaleY(0);
    -ms-transform: scaleY(0);
    transform-origin: bottom;
    transform-box: fill-box; }
  to {
    transform: scaleY(1);
    -webkit-transform: scaleY(1);
    -moz-transform: scaleY(1);
    -ms-transform: scaleY(1);
    transform-origin: bottom;
    transform-box: fill-box; } }
@-moz-keyframes showGraph {
  from {
    transform: scaleY(0);
    -webkit-transform: scaleY(0);
    -moz-transform: scaleY(0);
    -ms-transform: scaleY(0);
    transform-origin: bottom;
    transform-box: fill-box; }
  to {
    transform: scaleY(1);
    -webkit-transform: scaleY(1);
    -moz-transform: scaleY(1);
    -ms-transform: scaleY(1);
    transform-origin: bottom;
    transform-box: fill-box; } }
@-ms-keyframes showGraph {
  from {
    transform: scaleY(0);
    -webkit-transform: scaleY(0);
    -moz-transform: scaleY(0);
    -ms-transform: scaleY(0);
    transform-origin: bottom;
    transform-box: fill-box; }
  to {
    transform: scaleY(1);
    -webkit-transform: scaleY(1);
    -moz-transform: scaleY(1);
    -ms-transform: scaleY(1);
    transform-origin: bottom;
    transform-box: fill-box; } }
@keyframes opacity-fast {
  0% {
    opacity: 0; }
  50% {
    opacity: 0; }
  55% {
    opacity: 1; }
  100% {
    opacity: 1; } }
@-webkit-keyframes opacity-fast {
  0% {
    opacity: 0; }
  50% {
    opacity: 0; }
  55% {
    opacity: 1; }
  100% {
    opacity: 1; } }
@-moz-keyframes opacity-fast {
  0% {
    opacity: 0; }
  50% {
    opacity: 0; }
  55% {
    opacity: 1; }
  100% {
    opacity: 1; } }
@-ms-keyframes opacity-fast {
  0% {
    opacity: 0; }
  50% {
    opacity: 0; }
  55% {
    opacity: 1; }
  100% {
    opacity: 1; } }
@keyframes megaphoneShake {
  0% {
    transform: rotateZ(0deg);
    -webkit-transform: rotateZ(0deg);
    -moz-transform: rotateZ(0deg);
    -ms-transform: rotateZ(0deg); }
  50% {
    transform: rotateZ(-3deg);
    -webkit-transform: rotateZ(-3deg);
    -moz-transform: rotateZ(-3deg);
    -ms-transform: rotateZ(-3deg); }
  100% {
    transform: rotateZ(0deg);
    -webkit-transform: rotateZ(0deg);
    -moz-transform: rotateZ(0deg);
    -ms-transform: rotateZ(0deg); } }
@-webkit-keyframes megaphoneShake {
  0% {
    transform: rotateZ(0deg);
    -webkit-transform: rotateZ(0deg);
    -moz-transform: rotateZ(0deg);
    -ms-transform: rotateZ(0deg); }
  50% {
    transform: rotateZ(-3deg);
    -webkit-transform: rotateZ(-3deg);
    -moz-transform: rotateZ(-3deg);
    -ms-transform: rotateZ(-3deg); }
  100% {
    transform: rotateZ(0deg);
    -webkit-transform: rotateZ(0deg);
    -moz-transform: rotateZ(0deg);
    -ms-transform: rotateZ(0deg); } }
@-moz-keyframes megaphoneShake {
  0% {
    transform: rotateZ(0deg);
    -webkit-transform: rotateZ(0deg);
    -moz-transform: rotateZ(0deg);
    -ms-transform: rotateZ(0deg); }
  50% {
    transform: rotateZ(-3deg);
    -webkit-transform: rotateZ(-3deg);
    -moz-transform: rotateZ(-3deg);
    -ms-transform: rotateZ(-3deg); }
  100% {
    transform: rotateZ(0deg);
    -webkit-transform: rotateZ(0deg);
    -moz-transform: rotateZ(0deg);
    -ms-transform: rotateZ(0deg); } }
@-ms-keyframes megaphoneShake {
  0% {
    transform: rotateZ(0deg);
    -webkit-transform: rotateZ(0deg);
    -moz-transform: rotateZ(0deg);
    -ms-transform: rotateZ(0deg); }
  50% {
    transform: rotateZ(-3deg);
    -webkit-transform: rotateZ(-3deg);
    -moz-transform: rotateZ(-3deg);
    -ms-transform: rotateZ(-3deg); }
  100% {
    transform: rotateZ(0deg);
    -webkit-transform: rotateZ(0deg);
    -moz-transform: rotateZ(0deg);
    -ms-transform: rotateZ(0deg); } }
@keyframes spinPhone {
  from {
    transform: rotateZ(0deg);
    -webkit-transform: rotateZ(0deg);
    -moz-transform: rotateZ(0deg);
    -ms-transform: rotateZ(0deg);
    transform-origin: center center;
    transform-box: fill-box; }
  to {
    transform: rotateZ(360deg);
    -webkit-transform: rotateZ(360deg);
    -moz-transform: rotateZ(360deg);
    -ms-transform: rotateZ(360deg);
    transform-origin: center center;
    transform-box: fill-box; } }
@-webkit-keyframes spinPhone {
  from {
    transform: rotateZ(0deg);
    -webkit-transform: rotateZ(0deg);
    -moz-transform: rotateZ(0deg);
    -ms-transform: rotateZ(0deg);
    transform-origin: center center;
    transform-box: fill-box; }
  to {
    transform: rotateZ(360deg);
    -webkit-transform: rotateZ(360deg);
    -moz-transform: rotateZ(360deg);
    -ms-transform: rotateZ(360deg);
    transform-origin: center center;
    transform-box: fill-box; } }
@-moz-keyframes spinPhone {
  from {
    transform: rotateZ(0deg);
    -webkit-transform: rotateZ(0deg);
    -moz-transform: rotateZ(0deg);
    -ms-transform: rotateZ(0deg);
    transform-origin: center center;
    transform-box: fill-box; }
  to {
    transform: rotateZ(360deg);
    -webkit-transform: rotateZ(360deg);
    -moz-transform: rotateZ(360deg);
    -ms-transform: rotateZ(360deg);
    transform-origin: center center;
    transform-box: fill-box; } }
@-ms-keyframes spinPhone {
  from {
    transform: rotateZ(0deg);
    -webkit-transform: rotateZ(0deg);
    -moz-transform: rotateZ(0deg);
    -ms-transform: rotateZ(0deg);
    transform-origin: center center;
    transform-box: fill-box; }
  to {
    transform: rotateZ(360deg);
    -webkit-transform: rotateZ(360deg);
    -moz-transform: rotateZ(360deg);
    -ms-transform: rotateZ(360deg);
    transform-origin: center center;
    transform-box: fill-box; } }
@keyframes showX {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }
@-webkit-keyframes showX {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }
@-moz-keyframes showX {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }
@-ms-keyframes showX {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }
@keyframes eatBuilding {
  0% {
    transform: translateY(0px);
    -webkit-transform: translateY(0px);
    -moz-transform: translateY(0px);
    -ms-transform: translateY(0px); }
  50% {
    transform: translateY(20px);
    -webkit-transform: translateY(20px);
    -moz-transform: translateY(20px);
    -ms-transform: translateY(20px); }
  100% {
    transform: translateY(0px);
    -webkit-transform: translateY(0px);
    -moz-transform: translateY(0px);
    -ms-transform: translateY(0px); } }
@-webkit-keyframes eatBuilding {
  0% {
    transform: translateY(0px);
    -webkit-transform: translateY(0px);
    -moz-transform: translateY(0px);
    -ms-transform: translateY(0px); }
  50% {
    transform: translateY(20px);
    -webkit-transform: translateY(20px);
    -moz-transform: translateY(20px);
    -ms-transform: translateY(20px); }
  100% {
    transform: translateY(0px);
    -webkit-transform: translateY(0px);
    -moz-transform: translateY(0px);
    -ms-transform: translateY(0px); } }
@-moz-keyframes eatBuilding {
  0% {
    transform: translateY(0px);
    -webkit-transform: translateY(0px);
    -moz-transform: translateY(0px);
    -ms-transform: translateY(0px); }
  50% {
    transform: translateY(20px);
    -webkit-transform: translateY(20px);
    -moz-transform: translateY(20px);
    -ms-transform: translateY(20px); }
  100% {
    transform: translateY(0px);
    -webkit-transform: translateY(0px);
    -moz-transform: translateY(0px);
    -ms-transform: translateY(0px); } }
@-ms-keyframes eatBuilding {
  0% {
    transform: translateY(0px);
    -webkit-transform: translateY(0px);
    -moz-transform: translateY(0px);
    -ms-transform: translateY(0px); }
  50% {
    transform: translateY(20px);
    -webkit-transform: translateY(20px);
    -moz-transform: translateY(20px);
    -ms-transform: translateY(20px); }
  100% {
    transform: translateY(0px);
    -webkit-transform: translateY(0px);
    -moz-transform: translateY(0px);
    -ms-transform: translateY(0px); } }
@keyframes holdBuilding {
  0% {
    transform: translateX(-5px);
    -webkit-transform: translateX(-5px);
    -moz-transform: translateX(-5px);
    -ms-transform: translateX(-5px); }
  50% {
    transform: translateX(0px);
    -webkit-transform: translateX(0px);
    -moz-transform: translateX(0px);
    -ms-transform: translateX(0px); }
  100% {
    transform: translateX(-5px);
    -webkit-transform: translateX(-5px);
    -moz-transform: translateX(-5px);
    -ms-transform: translateX(-5px); } }
@-webkit-keyframes holdBuilding {
  0% {
    transform: translateX(-5px);
    -webkit-transform: translateX(-5px);
    -moz-transform: translateX(-5px);
    -ms-transform: translateX(-5px); }
  50% {
    transform: translateX(0px);
    -webkit-transform: translateX(0px);
    -moz-transform: translateX(0px);
    -ms-transform: translateX(0px); }
  100% {
    transform: translateX(-5px);
    -webkit-transform: translateX(-5px);
    -moz-transform: translateX(-5px);
    -ms-transform: translateX(-5px); } }
@-moz-keyframes holdBuilding {
  0% {
    transform: translateX(-5px);
    -webkit-transform: translateX(-5px);
    -moz-transform: translateX(-5px);
    -ms-transform: translateX(-5px); }
  50% {
    transform: translateX(0px);
    -webkit-transform: translateX(0px);
    -moz-transform: translateX(0px);
    -ms-transform: translateX(0px); }
  100% {
    transform: translateX(-5px);
    -webkit-transform: translateX(-5px);
    -moz-transform: translateX(-5px);
    -ms-transform: translateX(-5px); } }
@-ms-keyframes holdBuilding {
  0% {
    transform: translateX(-5px);
    -webkit-transform: translateX(-5px);
    -moz-transform: translateX(-5px);
    -ms-transform: translateX(-5px); }
  50% {
    transform: translateX(0px);
    -webkit-transform: translateX(0px);
    -moz-transform: translateX(0px);
    -ms-transform: translateX(0px); }
  100% {
    transform: translateX(-5px);
    -webkit-transform: translateX(-5px);
    -moz-transform: translateX(-5px);
    -ms-transform: translateX(-5px); } }
@keyframes walkBuilding {
  0% {
    transform: translateX(0px);
    -webkit-transform: translateX(0px);
    -moz-transform: translateX(0px);
    -ms-transform: translateX(0px); }
  50% {
    transform: translateX(-7px);
    -webkit-transform: translateX(-7px);
    -moz-transform: translateX(-7px);
    -ms-transform: translateX(-7px); }
  100% {
    transform: translateX(0px);
    -webkit-transform: translateX(0px);
    -moz-transform: translateX(0px);
    -ms-transform: translateX(0px); } }
@-webkit-keyframes walkBuilding {
  0% {
    transform: translateX(0px);
    -webkit-transform: translateX(0px);
    -moz-transform: translateX(0px);
    -ms-transform: translateX(0px); }
  50% {
    transform: translateX(-7px);
    -webkit-transform: translateX(-7px);
    -moz-transform: translateX(-7px);
    -ms-transform: translateX(-7px); }
  100% {
    transform: translateX(0px);
    -webkit-transform: translateX(0px);
    -moz-transform: translateX(0px);
    -ms-transform: translateX(0px); } }
@-moz-keyframes walkBuilding {
  0% {
    transform: translateX(0px);
    -webkit-transform: translateX(0px);
    -moz-transform: translateX(0px);
    -ms-transform: translateX(0px); }
  50% {
    transform: translateX(-7px);
    -webkit-transform: translateX(-7px);
    -moz-transform: translateX(-7px);
    -ms-transform: translateX(-7px); }
  100% {
    transform: translateX(0px);
    -webkit-transform: translateX(0px);
    -moz-transform: translateX(0px);
    -ms-transform: translateX(0px); } }
@-ms-keyframes walkBuilding {
  0% {
    transform: translateX(0px);
    -webkit-transform: translateX(0px);
    -moz-transform: translateX(0px);
    -ms-transform: translateX(0px); }
  50% {
    transform: translateX(-7px);
    -webkit-transform: translateX(-7px);
    -moz-transform: translateX(-7px);
    -ms-transform: translateX(-7px); }
  100% {
    transform: translateX(0px);
    -webkit-transform: translateX(0px);
    -moz-transform: translateX(0px);
    -ms-transform: translateX(0px); } }
@keyframes showBroken {
  0% {
    opacity: 0; }
  20% {
    opacity: 1; }
  80% {
    opacity: 1; }
  100% {
    opacity: 0; } }
@-webkit-keyframes showBroken {
  0% {
    opacity: 0; }
  20% {
    opacity: 1; }
  80% {
    opacity: 1; }
  100% {
    opacity: 0; } }
@-moz-keyframes showBroken {
  0% {
    opacity: 0; }
  20% {
    opacity: 1; }
  80% {
    opacity: 1; }
  100% {
    opacity: 0; } }
@-ms-keyframes showBroken {
  0% {
    opacity: 0; }
  20% {
    opacity: 1; }
  80% {
    opacity: 1; }
  100% {
    opacity: 0; } }
@keyframes fallPaper {
  0% {
    transform: translateY(-10px);
    -webkit-transform: translateY(-10px);
    -moz-transform: translateY(-10px);
    -ms-transform: translateY(-10px); }
  45% {
    transform: translateY(12px);
    -webkit-transform: translateY(12px);
    -moz-transform: translateY(12px);
    -ms-transform: translateY(12px); }
  100% {
    transform: translateY(12px);
    -webkit-transform: translateY(12px);
    -moz-transform: translateY(12px);
    -ms-transform: translateY(12px); } }
@-webkit-keyframes fallPaper {
  0% {
    transform: translateY(-10px);
    -webkit-transform: translateY(-10px);
    -moz-transform: translateY(-10px);
    -ms-transform: translateY(-10px); }
  45% {
    transform: translateY(12px);
    -webkit-transform: translateY(12px);
    -moz-transform: translateY(12px);
    -ms-transform: translateY(12px); }
  100% {
    transform: translateY(12px);
    -webkit-transform: translateY(12px);
    -moz-transform: translateY(12px);
    -ms-transform: translateY(12px); } }
@-moz-keyframes fallPaper {
  0% {
    transform: translateY(-10px);
    -webkit-transform: translateY(-10px);
    -moz-transform: translateY(-10px);
    -ms-transform: translateY(-10px); }
  45% {
    transform: translateY(12px);
    -webkit-transform: translateY(12px);
    -moz-transform: translateY(12px);
    -ms-transform: translateY(12px); }
  100% {
    transform: translateY(12px);
    -webkit-transform: translateY(12px);
    -moz-transform: translateY(12px);
    -ms-transform: translateY(12px); } }
@-ms-keyframes fallPaper {
  0% {
    transform: translateY(-10px);
    -webkit-transform: translateY(-10px);
    -moz-transform: translateY(-10px);
    -ms-transform: translateY(-10px); }
  45% {
    transform: translateY(12px);
    -webkit-transform: translateY(12px);
    -moz-transform: translateY(12px);
    -ms-transform: translateY(12px); }
  100% {
    transform: translateY(12px);
    -webkit-transform: translateY(12px);
    -moz-transform: translateY(12px);
    -ms-transform: translateY(12px); } }
/* city */
.st1 {
  opacity: 0.8; }

.st2 {
  opacity: 0.4; }

.st2, .st3 {
  fill: #364066; }

.st4 {
  fill: #7b85af; }

.st5, .st6 {
  fill: none;
  stroke: #2c3242;
  stroke-width: 0.4628;
  stroke-miterlimit: 10; }

.st6 {
  stroke: #364066; }

.st7 {
  fill: #4e5775; }

.st8 {
  fill: #b0b9d6; }

.st10 {
  fill: none;
  stroke: #66708e;
  stroke-width: .4628;
  stroke-miterlimit: 10; }

.st13 {
  fill: #66708e; }

.st14 {
  fill: #896772; }

.st15 {
  fill: #5b4843; }

.st16 {
  fill: #894659; }

.st17 {
  fill: #b79aa4; }

.st18 {
  fill: #f9f9f9; }

.st19 {
  fill: #ceb699; }

.st20 {
  fill: #2b3451; }

.st21 {
  fill: none;
  stroke: #b0b9d6;
  stroke-width: 1.148;
  stroke-miterlimit: 10; }

.st23 {
  transform: translateX(19px);
  -webkit-transform: translateX(19px);
  -moz-transform: translateX(19px);
  -ms-transform: translateX(19px); }

.st28 {
  fill: #11151e; }

.st29 {
  fill: #283049; }

.svg__text {
  opacity: 0; }
  .svg__text.animated {
    animation: showAgilityText 2s ease-out;
    -webkit-animation: showAgilityText 2s ease-out;
    -moz-animation: showAgilityText 2s ease-out;
    -ms-animation: showAgilityText 2s ease-out;
    -o-animation: showAgilityText 2s ease-out;
    opacity: 1; }

/* trophy */
.tp1 {
  fill: none;
  stroke: #c4915b;
  stroke-width: 8;
  stroke-miterlimit: 10; }

.tp4-text {
  font-family: 'Asap';
  font-size: 24px; }
  .tp4-text.bigger {
    font-weight: 500;
    font-size: 60px; }

.trophy {
  opacity: 0; }
  .trophy.animated {
    animation: showTrophy 6s ease-out;
    -webkit-animation: showTrophy 6s ease-out;
    -moz-animation: showTrophy 6s ease-out;
    -ms-animation: showTrophy 6s ease-out;
    -o-animation: showTrophy 6s ease-out;
    opacity: 1; }

/* benefits */
.be0 {
  fill: #d990a2; }

.be8 {
  enable-background: new; }

.text-svg {
  fill: #f9f9f9;
  font-family: lato;
  font-size: 30px; }

/* clock */
.clock.animated {
  position: relative;
  animation: clockMove 0.5s linear 10;
  -webkit-animation: clockMove 0.5s linear 10;
  -moz-animation: clockMove 0.5s linear 10;
  -ms-animation: clockMove 0.5s linear 10;
  -o-animation: clockMove 0.5s linear 10; }
  .clock.animated .clock-stuff {
    animation: clockStuffMove 0.25s linear 10;
    -webkit-animation: clockStuffMove 0.25s linear 10;
    -moz-animation: clockStuffMove 0.25s linear 10;
    -ms-animation: clockStuffMove 0.25s linear 10;
    -o-animation: clockStuffMove 0.25s linear 10; }

/* feedback */
.feedback {
  opacity: 0; }
  .feedback.animated {
    overflow: hidden;
    opacity: 1;
    position: relative; }
    .feedback.animated .sad {
      animation: showFeedbackRight 1s ease-out;
      -webkit-animation: showFeedbackRight 1s ease-out;
      -moz-animation: showFeedbackRight 1s ease-out;
      -ms-animation: showFeedbackRight 1s ease-out;
      -o-animation: showFeedbackRight 1s ease-out; }
    .feedback.animated .happy {
      animation: showFeedbackLeft 1s ease-out;
      -webkit-animation: showFeedbackLeft 1s ease-out;
      -moz-animation: showFeedbackLeft 1s ease-out;
      -ms-animation: showFeedbackLeft 1s ease-out;
      -o-animation: showFeedbackLeft 1s ease-out; }

/* productivity */
.graph {
  opacity: 0; }
  .graph.animated {
    opacity: 1;
    animation: showGraph 0.75s ease-out;
    -webkit-animation: showGraph 0.75s ease-out;
    -moz-animation: showGraph 0.75s ease-out;
    -ms-animation: showGraph 0.75s ease-out;
    -o-animation: showGraph 0.75s ease-out; }

.svg__medal-heading {
  font-family: 'Asap';
  font-size: 40px;
  font-weight: 500; }

.svg__medal-text-large {
  font-size: 34px; }

.svg__medal-text-medium {
  font-size: 26px; }

.svg__medal-text-small {
  font-size: 22px; }

.svg__medal-text-extra-small {
  font-size: 16px; }

.svg__medal-text-circle {
  font-size: 13px; }

.med17 {
  fill: none;
  stroke: #e6ad61;
  stroke-width: .82;
  stroke-miterlimit: 10; }

.med20 {
  font-size: 22px; }

.med24 {
  font-size: 16px; }

.med25, .med27, .med29 {
  fill: #91233F;
  stroke: #91233F;
  stroke-width: 1.2097;
  stroke-miterlimit: 10; }

.med27, .med29 {
  stroke-width: 1.3725; }

.med29 {
  fill: none;
  stroke: #e6ad61;
  stroke-width: 3.3299; }

.med34 {
  fill: none;
  stroke: #91233F;
  stroke-miterlimit: 10; }

/* myths */
.hy0 {
  fill: #D52B55; }

.hy3 {
  fill: none;
  stroke: #91233F;
  stroke-width: 2;
  stroke-miterlimit: 10; }

.hy5 {
  fill: none;
  stroke: #D52B55;
  stroke-width: 5;
  stroke-miterlimit: 10; }

.megaphone.animated {
  animation: megaphoneShake 0.8s infinite ease-in;
  -webkit-animation: megaphoneShake 0.8s infinite ease-in;
  -moz-animation: megaphoneShake 0.8s infinite ease-in;
  -ms-animation: megaphoneShake 0.8s infinite ease-in;
  -o-animation: megaphoneShake 0.8s infinite ease-in; }
  .megaphone.animated .megaphone-stuff {
    animation: opacity-fast 1s infinite ease-in-out;
    -webkit-animation: opacity-fast 1s infinite ease-in-out;
    -moz-animation: opacity-fast 1s infinite ease-in-out;
    -ms-animation: opacity-fast 1s infinite ease-in-out;
    -o-animation: opacity-fast 1s infinite ease-in-out; }

.text-myth {
  fill: #fff;
  font-family: lato;
  font-size: 20px;
  font-weight: 400; }
  .text-myth.small {
    font-size: 14px; }

.ph5 {
  fill: none;
  stroke: #91233F;
  stroke-width: 4;
  stroke-miterlimit: 10; }

.rounded-telephone.animated {
  animation: spinPhone 2s infinite ease-out;
  -webkit-animation: spinPhone 2s infinite ease-out;
  -moz-animation: spinPhone 2s infinite ease-out;
  -ms-animation: spinPhone 2s infinite ease-out;
  -o-animation: spinPhone 2s infinite ease-out; }

.ca1 {
  opacity: 0.075; }

.ca11 {
  fill: none;
  stroke: #91233F;
  stroke-width: 5;
  stroke-miterlimit: 10; }

.x-calendar {
  opacity: 0; }
  .x-calendar.animated {
    opacity: 1;
    animation: showX 2s 1 linear;
    -webkit-animation: showX 2s 1 linear;
    -moz-animation: showX 2s 1 linear;
    -ms-animation: showX 2s 1 linear;
    -o-animation: showX 2s 1 linear; }

.text-calendar {
  fill: #D52B55;
  font-family: 'Asap';
  font-size: 48px; }
  .text-calendar.small {
    fill: #cdd0ec;
    font-size: 10px; }

.ch6 {
  fill: none;
  stroke: #152168;
  stroke-width: .3;
  stroke-miterlimit: 10; }

.monster.animated .monster-top {
  animation: eatBuilding 3s infinite ease-in-out;
  -webkit-animation: eatBuilding 3s infinite ease-in-out;
  -moz-animation: eatBuilding 3s infinite ease-in-out;
  -ms-animation: eatBuilding 3s infinite ease-in-out;
  -o-animation: eatBuilding 3s infinite ease-in-out; }
.monster.animated .monster-hand {
  animation: holdBuilding 3s infinite ease-in-out;
  -webkit-animation: holdBuilding 3s infinite ease-in-out;
  -moz-animation: holdBuilding 3s infinite ease-in-out;
  -ms-animation: holdBuilding 3s infinite ease-in-out;
  -o-animation: holdBuilding 3s infinite ease-in-out; }
.monster.animated .monster-tale {
  animation: walkBuilding 3s infinite ease-in-out;
  -webkit-animation: walkBuilding 3s infinite ease-in-out;
  -moz-animation: walkBuilding 3s infinite ease-in-out;
  -ms-animation: walkBuilding 3s infinite ease-in-out;
  -o-animation: walkBuilding 3s infinite ease-in-out; }

.bp4 {
  fill: none;
  stroke: #4150BB;
  stroke-width: .3;
  stroke-miterlimit: 10; }

.broken-parts {
  opacity: 0; }
  .broken-parts.animated {
    opacity: 1;
    animation: showBroken 2s 1 ease-in;
    -webkit-animation: showBroken 2s 1 ease-in;
    -moz-animation: showBroken 2s 1 ease-in;
    -ms-animation: showBroken 2s 1 ease-in;
    -o-animation: showBroken 2s 1 ease-in; }

.tc3 {
  fill: #cdd0ec;
  stroke: #a6aabf;
  stroke-width: .3;
  stroke-miterlimit: 10; }

.paper.animated {
  animation: fallPaper 2s 1 ease-out;
  -webkit-animation: fallPaper 2s 1 ease-out;
  -moz-animation: fallPaper 2s 1 ease-out;
  -ms-animation: fallPaper 2s 1 ease-out;
  -o-animation: fallPaper 2s 1 ease-out; }

.wo3 {
  fill: #5b4843; }

.wo4 {
  fill: #ceb699; }

.wo6 {
  fill: #1f319b; }

.wo8 {
  fill: none;
  stroke: #91233f;
  stroke-width: 5;
  stroke-miterlimit: 10; }

.leader {
  opacity: 0; }
  .leader.animated {
    opacity: 1;
    animation: showX 2s 1 linear;
    -webkit-animation: showX 2s 1 linear;
    -moz-animation: showX 2s 1 linear;
    -ms-animation: showX 2s 1 linear;
    -o-animation: showX 2s 1 linear; }

/*# sourceMappingURL=style.css.map */
