   .med3{font-family: 'Asap';}
   .med4{font-size: 40px}
   .med5{font-family: 'Lato';}
   .med6{font-size: 34px}
   .med7{font-size: 24px}
   .med13{font-size: 23px}
   .med15{font-family: 'Asap'; font-weight: 500;}
   .med16{font-size: 12.4905px}

.med17 {
	fill: none;
	stroke: #e6ad61;
	stroke-width: .82;
	stroke-miterlimit: 10;
}
   .med20{font-size:22px}.med24{font-size:16px}

.med25, .med27, .med29 {
	fill: $pink-1;
	stroke: $pink-1;
	stroke-width: 1.2097;
	stroke-miterlimit: 10;
}

.med27, .med29 {
	stroke-width:1.3725;
}

.med29 {
	fill: none;
	stroke: #e6ad61;
	stroke-width: 3.3299;
}

.med34 {
	fill: none;
	stroke: $pink-1;
	stroke-miterlimit: 10;
}