/* myths */
.hy0 { 
	fill: $pink-2; 
}

.hy3 {
	fill: none;
	stroke: $pink-1;
	stroke-width: 2;
	stroke-miterlimit: 10;
}

.hy5 {
	fill: none;
	stroke: $pink-2;
	stroke-width: 5;
	stroke-miterlimit: 10;
}

.text-myth {
	fill: $white-1;
	font-family: lato;
	font-size:20px;
	font-weight: 400;
	&.small {
		font-size: 14px;
	}
}

.ph5 {
	fill: none;
	stroke: $pink-1;
	stroke-width: 4; 
	stroke-miterlimit: 10;
}

.ca1 {
	opacity: 0.075;
}

.ca11 { 
	fill: none;
	stroke: $pink-1;
	stroke-width: 5;
	stroke-miterlimit: 10;
}

.text-calendar {
	fill: $pink-2;
	font-family: 'Asap';
	font-size: 48px;
	&.small {
		fill: $blue-4;
		font-size: 10px;
	}
}

.ch6 {
	fill: none;
	stroke: $blue-1;
	stroke-width: .3;
	stroke-miterlimit: 10; 
}

.bp4 {
	fill: none;
	stroke: $blue-2;
	stroke-width:.3;
	stroke-miterlimit: 10;
}

.tc3 {
	fill: $blue-4;
	stroke: #a6aabf;
	stroke-width:.3;
	stroke-miterlimit:10;
}

.wo3 {
	fill: #5b4843;
}

.wo4 {
	fill: #ceb699;
}

.wo6 {
	fill: lighten($blue-1, 12%);
}

.wo8 {
	fill: none;
	stroke: #91233f;
	stroke-width: 5;
	stroke-miterlimit: 10;
}