/* myths */
/* hype */
.hy0{ fill:#d52b55 }
.st1{ fill:#cdd0ec }

.hy3 {
	fill: none;
	stroke: #91233f;
	stroke-width: 2.2698;
	stroke-miterlimit: 10;
}

.hy5 {
	fill: none;
	stroke: #d52b55;
	stroke-width: 4.9946;
	stroke-miterlimit: 10;
}

.text-myth {
	fill: $white-1;
	font-family: lato;
	font-size:20px;
	font-weight: 400;
}