/* city */
 .st1{ opacity: 0.8; }
 .st2{ opacity: 0.4; }
 .st2,.st3{ fill: #364066; }
 .st4{ fill: #7b85af; }
 .st5,.st6{ 
 	fill:none;
 	stroke: #2c3242; 
 	stroke-width: 0.4628; 
 	stroke-miterlimit: 10;
 }
 .st6{ stroke: #364066; }
 .st7{ fill: #4e5775; }
 .st8{ fill: #b0b9d6; }
 .st10{ 
 	fill:none; 
 	stroke: #66708e; 
 	stroke-width:.4628; 
 	stroke-miterlimit:10;
 }
 .st13{ fill: #66708e; }
 .st14{ fill: #896772; }
 .st15{ fill: #5b4843; }
 .st16{ fill: #894659; }
 .st17{ fill: #b79aa4; }
 .st18{	fill: $beige-1; }
 .st19{ fill: #ceb699; }
 .st20{ fill: #2b3451; }
 .st21{
 		fill: none;
 		stroke: #b0b9d6; 
 		stroke-width: 1.148; 
 		stroke-miterlimit: 10;
 	}

 .st23 {
 	@include transform(translateX(19px));
 }

 .st28{
 	fill: #11151e;
 }
 .st29{
 	fill: #283049;
 }

 .svg__text {
	opacity: 0;
	&.animated {
		@include browsers(showAgilityText 2s ease-out);
		opacity: 1;
	}
}



