/* introduction */
.section-introduction {
	background-color: $blue-2;
	padding: 35px $padding-lateral;
	@media (max-width: $max-sm) {
		padding: 35px $padding-lateral-sm;
	}
}

.section__centered-text-group {
	align-items: center;
	display: flex;
	justify-content: center;
}

.centered-text-group__content {
	margin-top: $arrow-distance;
	width: 35vw;
	@media (max-width: $max-sm) {
		margin: $arrow-distance-sm auto 0 auto;
		width: 80vw;
	}
	@media (max-width: $max-md) {
		width: 45vw;
	}
}